
<div class="box">   
  <%= simple_form_for(@tweeet) do |f| %>
    <%= f.error_notification %> 
        <article class="media">
          <figure class="media-left">
            <div class="image is-64x64">
              <% if Rails.env.production? %>
                <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.user_profile.name) %>
              <% else %>                              
                <% if (current_user.user_profile.image.attached?) %>            
                  <%= image_tag current_user.user_profile.image %>
                <% end %>                 
              <% end %>  
            </div>
            </br>
            <div class="control">                      
              <strong><%= current_user.user_profile.name %></strong><br />
            </div> 
              
            <div class="control">                                  
              <small><%= current_user.user_profile.username %></small><br/>   
            </div> 
          </figure>

          <div class="media-content">
            <div class="field">
              <p class="control">
                <textarea class="textarea" placeholder="Add a comment..."></textarea>
              </p>
            </div>
          
            <p class="control">
              <%= f.button :submit, class: "button is-info" %>
              <%= link_to 'Cancel', tweeets_path, class: "button is-info" %>  
            </p>
          </div>

        </article>

  <% end %>
</div>  







               









