<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        
      <h2 class="title is-2">Edit Profile</h2>
      <%= simple_form_for(@user_profile) do |f| %>
        <%= f.error_notification %>

          <div class="field">
            <div class="control">             
              <% if Rails.env.production? %>
                <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
              <% else %>                              
                <% if (!@user_profile.image.nil?) %>            
                  <%= image_tag @user_profile.image %>  
                <% end %>                 
              <% end %>                           
            </div>
          </div>

          <div class="field">
            <div class="control">
                <%= f.file_field :image  %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :name, required: true, autofocus: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :username, required: true,  input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
          </div>
   
        <%= f.button :submit, "Update", class:"button is-info" %>
     
      <% end %>
   
      </div>
    </div>
  </div>
</section>
